<section>
  <h1>Modificar menú</h1>

  @let menus = allMenusAvailable$ | async;

  <form>
    <select class="menu-select">
        <option [value]=""></option>
      @for (menu of menus; track menu.id) {
        <option [value]="menu.id">{{ menu.name | transloco }}</option>
      }
    </select>
    <div class="date-container">
      <mat-form-field class="date-picker">
        <input
          matInput
          [matDatepicker]="datePickerFrom"
          [formField]="modifyMenuForm.availableFrom"
        />
        <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #datePickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date-picker">
        <input
          matInput
          [min]="minDate"
          [matDatepicker]="datePickerTo"
          [formField]="modifyMenuForm.availableTo"
        />
        <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
        <mat-datepicker #datePickerTo></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</section>
