<header>
  <h1>Platterly</h1>

  <nav>
    <li><a routerLink="/home" [routerLinkActive]="'active'">Inicio</a></li>
    <li><a routerLink="/menu" [routerLinkActive]="'active'">Nuestras Cartas</a></li>
    <li>
      <a routerLink="/bookings" [routerLinkActive]="'active'">Reservar Mesa</a>
    </li>
    @if (userDetails()) {
      <li><a routerLink="/my-bookings" [routerLinkActive]="'active'">Mis Reservas</a></li>
    }
  </nav>

  @if (!userDetails()) {
    <a>Registrate</a>
    <button class="sign-in" (click)="showLoginModal()">Inicia sesión</button>
  } @else {
    <p>Hola, {{ userDetails()?.name }}!</p>
    <button class="user-details" matButton [matMenuTriggerFor]="userDetailsMenu">
      <mat-icon>perm_identity</mat-icon>
    </button>
  }
</header>

<mat-menu xPosition="before" #userDetailsMenu="matMenu" class="user-details-menu">
  @if (!userDetails()?.email) {
    <button mat-menu-item routerLink="/my-bookings">Completar cuenta</button>
  }
  <button class="logout-button" mat-menu-item (click)="logout()">Cerrar sesión</button>
</mat-menu>
