<header>
  <h1>Platterly</h1>

  <nav>
    <li><a routerLink="/home" [routerLinkActive]="'active'">Inicio</a></li>
    <li><a routerLink="/menu" [routerLinkActive]="'active'">Nuestras Cartas</a></li>
    <li>
      <a routerLink="/bookings" [routerLinkActive]="'active'">Reservar Mesa</a>
    </li>
    @if (userDetails()) {
      <li><a routerLink="/my-bookings" [routerLinkActive]="'active'">Mis Reservas</a></li>
    }
  </nav>

  @if (!userDetails()) {
    <a>Registrate</a>
    <button class="sign-in" (click)="showLoginModal()">Inicia sesión</button>
  } @else {
    <p>Hola, {{ userDetails()?.name }}!</p>
  }
</header>
