header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 2rem;
  block-size: 3rem;

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;

    li {
      cursor: pointer;
    }

    .active {
      color: var(--primary-color);
      font-weight: bold;
    }
  }

  button {
    --button-background-color: transparent;

    background-color: var(--button-background-color);
    border: none;
    border-radius: 0.3rem;
    block-size: 2rem;
    inline-size: 7rem;
    cursor: pointer;
  }

  .sign-in {
    --button-background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;

    &:hover {
      --button-background-color: oklch(from var(--primary-color) calc(1 - 0.5) c h);
    }
  }
}
