<fieldset>
  <legend id="dishes-list-legend">
    <span class="title">{{ 'dish_selection' | transloco }}</span>
    <span class="quantity">{{ dishes()?.length ?? 0 }} platos</span>
  </legend>
  <section class="dishes-list" aria-labelledby="dishes-list-legend">
    @for (dish of dishes(); track dish.id) {
      <div
        tabindex="0"
        class="dish"
        aria-label="plato de {{ dish.name | transloco }}"
        (click)="deleteDish(dish.id)"
      >
        @let image = dish.images[0] ?? '/assets/images/placeholder.png';
        <img [ngSrc]="image" [alt]="dish.name" width="80" height="80" />
        <div class="dish-info">
          <span class="name">{{ dish.name | transloco }}</span>
          <span class="ingredients">{{ dish.ingredients | translateArray }}</span>
        </div>
        <span class="price">{{ dish.price | currency: 'EUR' }}</span>
      </div>
    }
  </section>
  <button type="button" (click)="openAddProductModal()">Añadir plato</button>
</fieldset>
