<article>
  <header>
    <div>
      <h1>{{ 'booking_page.title' | transloco }}</h1>
      <h2>{{ 'table' | transloco }} {{ booking()?.table?.number }}</h2>
      <div class="status" [ngClass]="getBookingStatusColor()">
        <div class="dot"></div>
        <span>{{ getBookingStatusText() }}</span>
      </div>
    </div>
    <div class="booking-price">
      <span class="price-title">{{ 'booking_shared_summary' | transloco}}</span>
      <strong>{{ bookingTotalPrice() * 1.1 | currency: 'EUR' }}</strong>
      <span class="fee-reminder">{{ 'booking_fee_text' | transloco }}</span>
    </div>
  </header>
  <section class="main-content">
    <div class="billing-details">
      <h3>{{ 'billing_details.title' | transloco }}</h3>
      <div class="billing-options">
        <button class="btn-primary" (click)="retrieveTotalPrice()">
          <mat-icon class="pt-hidden-mobile">account_balance_wallet</mat-icon>
          <div><span>{{ 'billing_details.total_payment' | transloco }}</span><small class="pt-hidden-mobile">{{ 'billing_details.total_payment_description' | transloco }}</small></div>
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button class="btn-secondary" (click)="retrieveUserOrdersTotalPrice()">
          <mat-icon class="pt-hidden-mobile">account_balance_wallet</mat-icon>
          <div><span>{{ 'billing_details.partial_payment' | transloco }}</span><small class="pt-hidden-mobile">{{ 'billing_details.partial_payment_description' | transloco }}</small></div>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="booking-info">
      <h3>{{ 'order_history' | transloco }}</h3>
      <div class="orders">
        @for (order of orders(); track order.id) {
          <order-card [order]="order"></order-card>
        }
      </div>
    </div>

    @if (booking()?.status === bookingStatus.ACTIVE) {
      <a
        class="add-order"
        routerLink="/menu/create-order"
        [queryParams]="{ bookingId: $safeNavigationMigration(booking()?.id) }"
      >
        <img ngSrc="images/my-bookings/create-order.webp" fill alt="" />
        <div class="add-symbol"><fa-icon [icon]="faPlus"></fa-icon></div>
        <span>Nuevo pedido</span>
        <p>Explora nuestras mejores ofertas semanales</p>
      </a>
    }
  </section>
</article>
