@use 'index.scss' as *;

:host {
  display: block;
  margin-block: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 3.5rem;
  margin-block: 1.75rem;
}

h1 {
  margin: 0;
  font: 700 0.75rem 'Manrope';
  color: var(--primary-color);
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 2rem;

  @include medium-breakpoint {
    display: grid;
    grid-template-columns: 1fr 15rem;
  }
}

.booking-info {
  grid-column: 1;
}

.billing-details {
  --billing-details-gap: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--billing-details-gap);
  padding: 1.5rem;
  background: var(--gray-color);
  border-radius: 0.5rem;
  block-size: min-content;
  grid-column: 2;
  grid-row: 1;

  h3 {
    margin: 0;
  }

  .billing-options {
    display: flex;
    gap: var(--billing-details-gap);

    @include medium-breakpoint {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .btn-primary,
  .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
    inline-size: 100%;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
    }

    span {
      font-size: 0.7rem;
      font-weight: 700;
    }

    small {
      font-size: 0.6rem;
      color: inherit;
    }
  }

  .btn-primary {
    background: var(--primary-color);
  }

  .btn-secondary {
    background: var(--secondary-color);
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  inline-size: min-content;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;

  .dot {
    inline-size: 0.5rem;
    block-size: 0.5rem;
    border-radius: 50%;
    background: var(--booking-status-text-color);
  }

  span {
    font: 700 1rem 'Manrope';
    text-transform: uppercase;
  }
}

.booking-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25rem;
  padding-inline: 1rem;
  background: var(--gray-color);
  border-radius: 0.5rem;

  .price-title,
  .fee-reminder {
    font: 0.75rem 'Manrope';
    color: var(--font-primary-color);
  }

  .price-title {
    text-transform: uppercase;
  }

  strong {
    font-size: 1.5rem;
    color: var(--primary-color);
  }
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-card {
  padding: 1rem;
  background: oklch(from var(--white-color) l c h / 0.75);
  border-radius: 1rem;

  h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  p {
    margin: 0.5rem 0;
  }

  h3,
  p,
  li {
    color: var(--font-primary-color);
  }

  ul {
    margin: 0.5rem 0;
    padding-inline-start: 1.5rem;

    li {
      font-size: 0.9rem;
    }
  }
}

.add-order {
  --radius: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  background: oklch(from var(--white-color) l c h / 0.75);
  text-decoration: none;

  img {
    object-fit: cover;
    border-radius: inherit;
    z-index: -1;
  }

  .add-symbol {
    display: grid;
    place-items: center;
    inline-size: 4rem;
    block-size: 4rem;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
  }

  span {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-color);
  }

  p {
    margin: 0;
    font: 0.9rem 'Manrope';
    color: var(--font-primary-color);
  }
}

.price-modal {
  padding: 1rem;
}
