<h1>Panel de administración</h1>

<div class="cards-container">
  <div class="admin-card">
    <h3>Modificar menú</h3>
    <p>
      Modifica alguno de los menús existentes, añade o elimina algunos productos o modifica la fecha
      en que se encuentra disponible.
    </p>
    <a routerLink="/enterprise/admin/modify-menu">Modificar</a>
  </div>

  <div class="admin-card">
    <h3>Agregar productos</h3>
    <p>Agregra un nuevo producto al restaurante y utilizalo en alguno de los menús exclusivos</p>
    <a routerLink="/enterprise/admin/create-product">Añadir</a>
  </div>
</div>
