<div class="background-container">
  <div class="initial-content">
    <img fill ngSrc="images/home/hero-banner.webp" alt="Hero Image" />
    <div class="hero-content">
      <h1>Bienvenido a Platterly</h1>
      <p>Una experiencia culinaria que no te puedes perder</p>
      <ul>
        <li>Cocina de temporada</li>
        <li>Servicio de alta calidad</li>
        <li>Reserva online en segundos</li>
      </ul>
      <div class="star-recommendations">
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <p>4.5/5 basado en 1,200+ reseñas</p>
      </div>
      <div class="hero-buttons">
        <a routerLink="/bookings" class="booking"
          ><mat-icon>event</mat-icon><span>Reservar mesa</span></a
        >
        <a routerLink="/menu" class="menu"
          ><mat-icon>menu_book_2</mat-icon><span>Explorar menú</span></a
        >
      </div>
    </div>

    <button class="explore-more" (click)="scrollToSummary()">
      <mat-icon [inline]="true" class="arrow">arrow_downward</mat-icon>
    </button>
  </div>
</div>
<div class="brief-services-summary" #servicesSummary>
  <h2>Descubre todas nuestras ventajas</h2>
  <p>
    Queremos asegurar una experiencia culinaria excepcional para todos nuestros clientes. Por eso,
    ofrecemos una variedad de servicios y comodidades que hacen que cada visita sea especial. 
  </p>
</div>

<home-services-grid></home-services-grid>
