.error-modal {
  container-type: inline-size;
  padding-inline: 1rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 20rem;

  .error-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .error-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-block: 0.5rem;
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
    margin-block: 0.5rem;
    color: var(--font-primary-color)
  }

  fa-icon {
    font-size: 3rem;
  }

  a {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    inline-size: 70cqi;
    text-align: center;
    border-radius: 0.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  }

  button {
    border: none;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    color: var(--white-color);
    inline-size: 70cqi;
    text-align: center;
    border-radius: 0.5rem;
    line-height: 2rem;
    cursor: pointer;
  }

  fa-icon {
    color: var(--font-error-color);
  }
}
