.error-modal {
  container-type: inline-size;
  padding-inline: 1rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  fa-icon {
    font-size: 3rem;
  }

  a {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    inline-size: 70cqi;
    text-align: center;
    border-radius: 0.5rem;
    line-height: 2rem;
  }

  fa-icon {
    color: var(--font-error-color);
  }
}
