<dialog open>
  <img src="images/login-table.webp" alt="" />
  <form action="" (submit)="submitLogin($event)">
    <button type="button" (click)="closeDialog.emit()">Cerrar</button>
    <h2>Bienvenido de nuevo</h2>
    <h3>Inicia sesión con tu cuenta</h3>
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" [formField]="loginForm.email" />
    <label for="password">Contraseña</label>
    <input type="password" id="password" [formField]="loginForm.password" />
    <button type="submit">Iniciar sesión</button>
    <p>No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
  </form>
</dialog>
