<section class="order-card">
  <div class="order-info">
    <div class="user-icon" [style.--user-icon-bg-color]="getCurrentUserAvatarColor(order().user.name)">
      {{ order().user.name.charAt(0) }}
    </div>
    <div class="order-user">
      <strong>{{ order().user.name }} {{ order().user.surname }}</strong>
      <span class="time">{{ order().scheduledAt | date: 'HH:mm' : 'UTC+2' }}h</span>
    </div>
    <span class="status" [ngClass]="getCurrentOrderStatusColor(order().status)">
      {{ getOrderStatusText(order().status) }}
    </span>
  </div>
  <products-table [products]="order().products"></products-table>
</section>
