<button (click)="open()"></button>
<ng-template #invitationModal>
  <dialog open>
    <h3>Invitación</h3>
    <h2>Únete a la mesa</h2>
    <p>Sergio te ha invitado a unirte a su mesa</p>

    <div class="booking-info">
      <div>
        <span>Fecha</span>
        <span>{{ booking?.date }}</span>
      </div>
      <div>
        <span>Hora</span>
        <span>11:00</span>
      </div>
      <div>
        <span>Ubicación</span>
        <span>Mesa 1</span>
      </div>
    </div>

    @if (tryToLogIn()) {
      <button>Iniciar sesión</button>
      <span>o</span>
      <button (click)="tryToLogIn.set(false)">Continuar como invitado</button>
    } @else {
      <form (submit)="joinTable($event)">
        <input type="text" placeholder="Nombre de usuario" [formField]="bookingForm.name" />
        <button type="submit">Unirse a la mesa</button>
      </form>
    }
  </dialog>
</ng-template>
