<ng-template #invitationModal let-data>
  <section>
    <h3>Invitación</h3>
    <h2>Únete a la mesa</h2>
    <p>te han invitado a unirte a una reserva</p>
    <div class="booking-info">
      <div>
        <span class="title">Ubicación</span>
        <span>Mesa {{ data.tableNumber }}</span>
      </div>
      <div>
        <span class="title">Hora</span>
        <span>{{ data.hour }}</span>
      </div>
      <div>
        <span class="title">Fecha</span>
        <span>{{ data.date | date: "d 'de' MMMM 'de' y" }}</span>
      </div>
    </div>

    @if (tryToLogIn()) {
      @if (getUserDetails()) {
        <button class="login" (click)="sendJoinRequest()">Unirse a la mesa</button>
      } @else {
        <button class="login" (click)="openLogInModal()">Iniciar sesión</button>
      }
      <button class="guest" (click)="tryToLogIn.set(false)">Continuar como invitado</button>
    } @else {
      <form (submit)="joinTable($event)">
        <input type="text" placeholder="Nombre de usuario" [formField]="bookingForm.name" />
        <button class="login" type="submit">Unirse a la mesa</button>
      </form>
    }
  </section>
</ng-template>

<ng-template #successfulModal>
  <section class="successful-modal">
    <fa-icon [icon]="faCheck"></fa-icon>
    <h4 class="successful-title">¡Te has unido a la reserva!</h4>
    <a routerLink="/my-bookings">Ver mis reservas</a>
  </section>
</ng-template>
