@use '@angular/material' as mat;

.user-details-menu {
  @include mat.menu-overrides(
    (
      item-icon-color: var(--primary-color),
      container-shape: 10px,
      container-color: var(--white-color),
    )
  );
}

.shared-input {
  @include mat.form-field-overrides(
    (
      container-text-font: 'Manrope',
      container-text-size: 0.8rem,
      filled-container-shape: 1rem,
      filled-container-color: var(--white-color),
      filled-active-indicator-color: transparent,
      filled-focus-active-indicator-color: transparent,
      filled-error-focus-label-text-color: transparent,
      filled-hover-active-indicator-color: transparent,
      container-height: 3rem,
    )
  );

  .mat-mdc-text-field-wrapper {
    border: 1px solid var(--black-color);
    border-bottom-left-radius: var(--mat-form-field-filled-container-shape);
    border-bottom-right-radius: var(--mat-form-field-filled-container-shape);
  }

  inline-size: 100%;
}

:root {
  @include mat.datepicker-overrides(
    (
      calendar-container-background-color: var(--white-color),
      calendar-text-font: 'Manrope',
      calendar-date-selected-state-background-color: var(--primary-color),
      calendar-date-today-outline-color: var(--primary-color),
      calendar-date-today-selected-state-outline-color: var(--primary-color),
    )
  );

  .mat-datepicker-content {
    border: 1px solid var(--black-color);
  }
}

.date-picker {
  @include mat.form-field-overrides(
    (
      filled-container-color: var(--white-color),
      outlined-label-text-size: 0.8rem,
      container-text-font: 'Manrope',
      filled-active-indicator-color: transparent,
    )
  );
}

.new-booking-progress {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--white-color),
    )
  );
}
