.status {
  --booking-status-background-color: var(--white-color);
  --booking-status-text-color: var(--black-color);

  background-color: var(--booking-status-background-color);
  color: var(--booking-status-text-color);
}

.status.confirmed {
  --booking-status-background-color: #c5e7d6;
  --booking-status-text-color: #4a695b;
}

.status.cancelled {
  --booking-status-background-color: #f4c6c3;
  --booking-status-text-color: #7a4a48;
}

.status.active {
  --booking-status-background-color: #c5e7d6;
  --booking-status-text-color: #4a695b;
}

.status.delivered {
  --booking-status-background-color: #c5e7d6;
  --booking-status-text-color: #4a695b;
}

.order-status {
  --order-status-background-color: var(--white-color);
  --order-status-text-color: var(--black-color);

  background-color: var(--order-status-background-color);
  color: var(--order-status-text-color);
}

.order-status.delivered {
  --order-status-background-color: var(--font-success-color);
  --order-status-text-color: var(--white-color);
}

.order-status.in-progress {
  --order-status-background-color: var(--warning-color);
  --order-status-text-color: var(--white-color);
}

.order-status.ready {
  --order-status-background-color: var(--info-color);
  --order-status-text-color: var(--white-color);
}

.order-status.scheduled {
  --order-status-background-color: var(--primary-color);
  --order-status-text-color: var(--white-color);
}
