@use '@angular/material' as mat;
@use 'index.scss' as *;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Noto Serif',
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
:root {
  --white-color: oklch(1 0 0);
  --black-color: oklch(0 0 0);
  --gray-color: oklch(0.9644 0.0029 84.56);
  --primary-color: #9a4022;
  --secondary-color: oklch(46.895% 0.07768 162.064);
  --info-color: oklch(76.052% 0.11069 235.982);
  --warning-color: oklch(80.665% 0.09782 91.39);

  --font-primary-color: #56423c;
  --font-error-color: #ba1a1a;
  --font-success-color: #21b821;

  --font-title-size: clamp(2rem, 1.5rem + 2vw, 3.5rem);
  --font-subtitle-size: clamp(1.125rem, 1rem + 0.75vw, 1.75rem);
  --font-content-size: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
  --font-small-size: clamp(0.875rem, 0.85rem + 0.1vw, 1rem);

  --small-box-shadow: 0 20px 40px -14px oklch(from black l c h / 25%);

  --default-max-width: 70rem;
}

body {
  background-color: oklch(0.982 0.0041 91.45);
  max-inline-size: var(--default-max-width);
  margin-inline: auto;
  font-family: 'Manrope';
  padding-inline: 1.5rem;
}

.pt-hidden-mobile {
  @include small-device {
    display: none !important;
  }
}

.pt-hidden-tablet {
  @include medium-device {
    display: none !important;
  }
}

.pt-hidden-desktop {
  @include large-device {
    display: none !important;
  }
}
