<article class="register-page">
  <div class="image-container">
    <img src="images/login/register.webp" alt="" />
  </div>
  <div class="register-form">
    <div class="register-form-header">
      <span>Únete a nuestra comunidad</span>
      <h1 tabindex="-1">Regístrate en Platterly</h1>
      <p>Rellena el formulario para registrate y poder aprovechar todas nuestras ventajas</p>
    </div>
    <form (submit)="registerUser($event)">
      <shared-input
        label="Nombre"
        placeHolder="Introduce tu nombre"
        [field]="registerForm.name"
        errorMessage="por favor introduce un nombre válido"
      ></shared-input>
      <shared-input
        label="Primer Apellido"
        placeHolder="Introduce tu primer apellido"
        [field]="registerForm.surname"
        errorMessage="por favor introduce un primer apellido válido"
      ></shared-input>
      <shared-input
        label="Segundo Apellido"
        placeHolder="Introduce tu segundo apellido"
        [field]="registerForm.secondSurname"
        errorMessage="por favor introduce un segundo apellido válido"
      ></shared-input>
      <shared-input
        label="Email"
        placeHolder="Introduce tu email"
        type="email"
        [field]="registerForm.email"
        errorMessage="por favor introduce un email válido"
      ></shared-input>
      <shared-input
        label="Contraseña"
        placeHolder="Introduce tu contraseña"
        type="password"
        [field]="registerForm.password"
        errorMessage="por favor introduce una contraseña válida (mínimo 12 caracteres)"
      ></shared-input>
      <div class="register-form-footer">
        <button type="submit">Crear cuenta</button>
        <p>
          ¿Ya tienes una cuenta?
          <button class="redirect-login" (click)="openLogin()">Inicia sesión</button>
        </p>
      </div>
    </form>
  </div>
</article>
