:host {
  padding-inline: 2rem;
  display: block;
}

::ng-deep .booking-tabs {
  .mat-mdc-tab-header {
    margin-block-end: 1.5rem;
  }

  .mat-mdc-tab {
    margin-inline-end: 0.5rem;
    border-radius: 1.5rem;
    background-color: transparent;
    transition: all 0.2s ease;
  }
}

.booking-day-content {
  display: grid;
  grid-template-columns: 18rem auto;
  gap: 3rem;
}

.ocuppation {
  background-color: var(--white-color);
  padding-inline: 2rem;
  padding-block: 0.5rem;
  block-size: 7rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  span {
    color: var(--primary-color);
    font-size: 1.8rem;
  }
}

.host-prefix {
  font-family: 'Manrope';
  color: var(--font-primary-color);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-start: 5rem;
}

.host-title {
  font-size: 3.5rem;
  font-weight: 400;
}

.booking-card {
  display: flex;
  gap: 2rem;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  block-size: 7rem;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;
  border-left: 4px solid var(--primary-color);
  background-color: var(--white-color);
  margin-block-end: 1.5rem;

  & .booking-hour {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  & .booking-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & .name-status {
      display: flex;
      align-items: center;
      gap: 0.875rem;
      & .name {
        font-size: 1.2rem;
      }

      .status {
        text-transform: uppercase;
        padding-inline: 0.75rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        inline-size: min-content;
      }
    }

    & .table-guests {
      --table-guests-color: var(--font-primary-color);
      --table-guests-dot-size: 0.2rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-block: 0;
      font-family: 'Manrope';

      & .dot {
        border-radius: 50%;
        display: inline-block;
        inline-size: var(--table-guests-dot-size);
        block-size: var(--table-guests-dot-size);
        background-color: var(--table-guests-color);
      }
    }
  }
}

.active-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
