<article >
  <div class="header">
    <h1>Panel de Camarero</h1>
    <p>Revisa los pedidos actuales y actualiza su estado</p>
    <button (click)="showTableModal()">Ver estado de mesas</button>
  </div>
  <div class="order-columns">
    <div class="order-column">
      <h3>Pendientes</h3>
      <div class="order-container">
        @for (order of scheduledOrders; track order.id) {
          <enterprise-order-item [order]="order"></enterprise-order-item>
        }
      </div>
    </div>
    <div class="order-column">
      <h3 [style.--color]="'var(--secondary-color)'">En preparación</h3>
      <div class="order-container">
        @for (order of preparingOrders; track order.id) {
          <enterprise-order-item [order]="order"></enterprise-order-item>
        }
      </div>
    </div>
    <div class="order-column">
      <h3 [style.--color]="'var(--info-color)'">Listas para servir</h3>
      <div class="order-container">
        @for (order of readyOrders; track order.id) {
          <enterprise-order-item
            [order]="order"
            buttonText="Servir"
            (buttonClicked)="updateOrderStatusToDelivered($event)">
          </enterprise-order-item>
        }
      </div>
    </div>
    <div class="order-column">
      <h3 [style.--color]="'var(--black-color)'">Servidas</h3>
      <div class="order-container">
        @for (order of alreadyDeliveredOrders; track order.id) {
          <enterprise-order-item [order]="order"></enterprise-order-item>
        }
      </div>
    </div>
  </div>
</article>
